<app-dialog-layout subtitle="Instructions">
  <span header>{{ "numberToBinaryConversion" | translate }}</span>

  <ng-container content>
    <app-dialog-content
      [dialogContent]="getGuideContent()"
    ></app-dialog-content>

    <img
      class="dialog-circuit-img"
      [src]="getImgSrc()"
      alt="number to binary instructions"
    />

    <app-dialog-content [dialogContent]="getGoalContent()"></app-dialog-content>
    <app-dialog-content [dialogContent]="getHowContent()"></app-dialog-content>
    <app-dialog-content [dialogContent]="getNoteContent()"></app-dialog-content>

    <app-watermark></app-watermark>
  </ng-container>
</app-dialog-layout>
