<app-dialog-layout>
  <span header>🎉 {{ "welcomeDialog.header" | translate }} 🎉</span>

  <ng-container content>
    <h4 class="welcome-title">
      <span>{{ "welcomeDialog.welcomeLeft" | translate }} </span>
      <span class="app-title">{{ appTitle }}</span>
      <span>{{ "welcomeDialog.welcomeRight" | translate }} </span>
    </h4>

    <div class="poppins content-text">
      <p class="center-text">{{ "welcomeDialog.intro" | translate }}</p>

      <p>
        🔢 <b>{{ "binaryToNumber" | translate }}</b
        >: {{ "welcomeDialog.binaryToNumber" | translate }}
      </p>

      <p>
        🔄 <b>{{ "numberToBinary" | translate }}</b
        >: {{ "welcomeDialog.numberToBinary" | translate }}
      </p>

      <p class="center-text">
        <i>{{ "welcomeDialog.diveIn" | translate }}</i> <br />
        {{ "welcomeDialog.instruction" | translate }}
      </p>
    </div>

    <div class="circuit-assets">
      <img src="assets/images/wip_1.jpeg" alt="Circuit WIP 1" />
    </div>

    <div class="popup-container">
      <small class="poppins">
        <input
          type="checkbox"
          id="welcome-dialog-checkbox"
          (change)="onPopupInputChange($event)"
          #welcomeDialogInput
        />
        <label for="welcome-dialog-checkbox">{{
          "welcomeDialog.popup" | translate
        }}</label>
      </small>
    </div>
  </ng-container>
</app-dialog-layout>
