<app-dialog-layout subtitle="Welcome to KodeBinary, a Binary converter app!">
  <span header>🎉 Hello there 🎉</span>

  <ng-container content>
    <div class="poppins content-text">
      <p class="center-text">
        Whether you're a coding enthusiast or just exploring the world of
        binary, you're in the right place!
      </p>

      <p>
        🔢 <b>Binary to Decimal</b>: Convert binary numbers to their decimal
        equivalents.
      </p>

      <p>
        🔄 <b>Decimal to Binary</b>: Switch it up and convert decimal numbers to
        binary.
      </p>

      <p class="center-text">
        <i>Ready to dive in?</i> <br />
        Use the simple and intuitive interfaces to make your conversions with
        ease.
      </p>
    </div>

    <div class="checkbox-container">
      <small class="poppins">
        <input
          type="checkbox"
          id="welcome-dialog-checkbox"
          (change)="onPopupInputChange($event)"
          #welcomeDialogInput
        />
        <label for="welcome-dialog-checkbox"
          >Do not show this popup again</label
        >
      </small>
    </div>
  </ng-container>
</app-dialog-layout>
