a {
  opacity: 0.6;
  cursor: pointer;
  color: #000000;
  z-index: 1;

  &:hover {
    opacity: 0.8;
  }

  &.active {
    opacity: 1;
    background-color: var(--bkgColor);
    position: relative;
    font-weight: bold;

    &::before {
      content: "";
      width: 110%;
      height: 120%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: var(--radius);
      background-color: #ecf0f3;
      z-index: -1;
      border: 1px solid #ddd;
    }
  }
}
