:host {
  height: 100%;
  width: 100%;
  display: flex;
}

#num-input {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
