<app-watermark-item
  textKey="watermark.developedBy"
  linkURL="https://www.linkedin.com/in/reetesh-dooleea"
  linkText="Reetesh Dooleea"
  imgSrc="assets/icons/linkedin.svg"
  imgAlt="Reetesh Dooleea LinkedIn"
></app-watermark-item>

<app-watermark-item
  textKey="watermark.code"
  linkURL="https://github.com/keshavDooleea/kode_binary"
  linkText="GitHub"
  imgSrc="assets/icons/github_square.svg"
  imgAlt="Reetesh Dooleea GitHub"
></app-watermark-item>

<div [ngStyle]="{ 'margin-top': '30px' }">
  <app-watermark-item
    textKey="ingCourse.prefix"
    linkURL="https://www.polymtl.ca/programmes/cours/conc-atelier-pedagogique-en-stim"
    linkTextTranslate="ingCourse.class"
    textSuffixKey="ingCourse.suffix"
    [isFlexColumn]="true"
  ></app-watermark-item>
</div>
