@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kdam+Thmor+Pro&family=Orbitron:wght@500&display=swap&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bkgColor: #f9fbfd;
  --secBkgColor: #fff;
  --appTitleColor: #186f4b;

  --navHeight: 70px;
  --padding: 20px;
  --gap: 10px;
  --radius: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bkgColor);
}

button {
  border: none;
  outline: none;
  background-color: white;
  padding: calc(var(--padding) / 2);
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.25);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
    outline: 1px solid #ccc;
  }
}

a {
  text-decoration: none;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lock {
  opacity: 0.75;
  pointer-events: none;
}

.num-font,
#screen_num,
#screen_bin {
  font-family: "Orbitron", sans-serif;
}

#question_mark,
body {
  font-family: "Kdam Thmor Pro", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.circuit-btn > g {
  cursor: pointer;

  &:hover {
    #btn-circle-32,
    #btn-circle-16,
    #btn-circle-8,
    #btn-circle-4,
    #btn-circle-2,
    #btn-circle-1,
    #btn-circle-validate path {
      fill: #2016c2;
    }

    #btn-circle-question path,
    #btn-circle-show-wires path,
    #btn-circle-hide-wires path {
      fill: #d1d116;
    }
  }

  &:active {
    #btn-circle-32,
    #btn-circle-16,
    #btn-circle-8,
    #btn-circle-4,
    #btn-circle-2,
    #btn-circle-1,
    #btn-circle-validate,
    #btn-circle-question,
    #btn-circle-show-wires,
    #btn-circle-hide-wires {
      opacity: 0.1;
    }
  }
}

.dialog-circuit-img {
  max-width: 95%;
  max-height: 75%;
}
