@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kdam+Thmor+Pro&family=Orbitron:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bkgColor: #f7f7f7;
  --secBkgColor: #fff;

  --navHeight: 70px;
  --padding: 20px;
  --gap: 10px;
  --radius: 5px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bkgColor);
  font-family: "Kdam Thmor Pro", sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: white;
  padding: calc(var(--padding) / 2);
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.25);
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#lcd_num,
#lcd_bin {
  #screen_num,
  #screen_bin {
    font-family: "Orbitron", sans-serif;
  }
}
